.container {
    height: 100%;
}


/* div {
    background-color: #00cc99;
    border: 1px solid white;
    height: 50px;
} */

.color {
    background-color: #00cc99;
    border: 1px solid white;
    height: 50px;
}